<!DOCTYPE html>
<html>
<head>
    <#include "header.htm">
    <script src="js_lib/jquery-2.2.3.js"></script>
    <script src="js_lib/bootstrap.min.js"></script>
    <script src="js_lib/facebook_sdk.js"></script>
</head>
<body>
    <#include "nav.htm">

        <script>

        </script>


        <div class="jumbotron text-center">
            <div class="container">
                <h1>Do you know your facebook friends ?</h1>
                <p>With this facebook game you check if you really know your friends on Facebook. It asks you some questions about them and then gives you feedback.
                    You can also compare your results with other people <a class="link" href="/ranking">here</a>.</p>
                <a type="button" class="btn btn-lg btn-primary" style="font-size:x-large" href="/game"><img class="inverted" src="/icons/gamepad_24.png" /> Play</a>
            </div>
        </div>

        <div class="fb-like"
             data-share="true"
             data-width="450"
             data-show-faces="true">
        </div>
</body>
</html>
